<p id="notice"><%= notice %></p>

<h1>Anagrams</h1>

<table>
  <thead>
    <tr>
      <th>Firstword</th>
      <th>Secondword</th>
      <th>Matching</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anagrams.each do |anagram| %>
      <tr>
        <td><%= anagram.firstword %></td>
        <td><%= anagram.secondword %></td>
        <td><%= anagram.matching %></td>
        <td><%= link_to 'Show', anagram %></td>
        <td><%= link_to 'Edit', edit_anagram_path(anagram) %></td>
        <td><%= link_to 'Destroy', anagram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anagram', new_anagram_path %>
